#grid {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vw;
    border: 1px solid grey;
}

.gridItem {
    width: calc(100% /16);
    height: calc(100% /16);
}

.gridItem.hovered {
    background-color: blue;
}